<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Easy</title>
    <link rel="styleSheet" href="../style/style.css" />
    <link rel="icon" href="../images/logo.png" type="image/png">
</head>
<body style="background-color: #F5F5F5;">
    <div class="header">
        <a href="./index.html">
            <img class="logo-img" src="../images/logo.png"/>
        </a>
        <div class="serach-container">
            <input class="serach-input" placeholder="Serach ..."/>
            <button class="serach-btn">
                <img src="../images/serach.svg" class="serach-img"/>
            </button>
        </div>
        <img class="profile-img" src="../images/profile.svg"/>
    </div>
    <div class="body">
        <div class="row">
            <h2 class="sub-title">Shocking Sale</h2>
            <a class="see-all" href="#">See All ></a>
            <hr class="line">
            <div class="items-container">
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>


            </div>
            <br>
        </div>
        <div class="row">
            <h2 class="sub-title">Top Products</h2>
            <a class="see-all" href="#">See All ></a>
            <hr class="line">
            <div class="items-container">
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <h2 class="sub-title">Daily Discover</h2>
            <hr class="line">
            <div class="items-container">
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <a class="see-all-btn" href="#">See All </a>
            </div>
            <br>
        </div>
    </div>
    <div class="footer">
        <h1>Footer</h1>
    </div>
</body>
</html>