<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="styleSheet" href="../style/style.css" />
</head>
<body class="signin-body">
    <div class="form-container">
        <h1 class="title">
            Login
        </h1>
        <form method="POST" action="#" class="form-login">
            <input class="input-best" placeholder="Email" type="email" name="email" required/>
            <input class="input-best" placeholder="Password" type="password" name="password" required/>
            <br>
            <button class="cta red" type="submit">Sign In</button>
            <a href="./signup.html" class="cta white" type="nothing">Sign Up</a>
        </form>
    </div>
    <div class="image-container"></div>
</body>
</html>