<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Easy | See More</title>
    <link rel="styleSheet" href="../style/style.css" />
    <link rel="icon" href="../images/logo.png" type="image/png">
</head>
<body style="background-color: #F5F5F5;">

    <div class="header">
        <a href="./index.html">
            <img class="logo-img" src="../images/logo.png"/>
        </a>
        <div class="serach-container">
            <input class="serach-input" placeholder="Serach ..."/>
            <button class="serach-btn">
                <img src="../images/serach.svg" class="serach-img"/>
            </button>
        </div>
        <img class="profile-img" src="../images/profile.svg"/>
    </div>
    <div class="body">
        <div class="row">
            <h2 class="sub-title">Daily Discover</h2>
            <hr class="line">
            <div class="items-container">
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/shoes.png')">
                    <div class="promition">
                        <p class="promition-num">
                            38%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">200 AFN</p>
                </div>
                <div class="item" style="background-image: url('../images/ball.png');">
                    <div class="promition">
                        <p class="promition-num">
                            50%
                        </p>
                        <p class="promition-txt">
                            Off
                        </p>
                    </div>
                    <p class="item-price">140 AFN</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <div>
                <h3 class="footer-title">About EasyShop</h3>
                <a class="link" href="#">How To Sale</a>
                <a class="link" href="#">How To buy</a>
            </div>
            <div>
                <h3 class="footer-title">Customer Services</h3>
                <a class="link" href="#" style="text-decoration: none;">Shocking Sale</a>
                <a class="link" href="#" style="text-decoration: none;">Top Products</a>
                <a class="link" href="#" style="text-decoration: none;">Daily Discover</a>
                <a class="link" href="#" style="text-decoration: none;">Contact Us</a>
            </div>
        </div>
        <div class="rigth">
            <h3 class="footer-title">Follow Us</h3>
            <a href="#" class="row-href">
                <div class="row-link">
                    <img  class="icon-link" src="../images/facebook.png"/>
                    Facebook
                </div>
            </a>
            <a href="#" class="row-href">
                <div class="row-link">
                    <img  class="icon-link" src="../images/Telegram.png"/>
                    Telagram
                </div>
            </a>
            <a href="#" class="row-href">
                <div class="row-link">
                    <img  class="icon-link" src="../images/linkedin.jpg"/>
                    Linkdin
                </div>
            </a>
            <a href="#" class="row-href">
                <div class="row-link">
                    <img  class="icon-link" src="../images/Gmail.png"/>
                    email
                </div>
            </a>
        </div>
    </div>
</body>
</html>